{%extends "base.html" %}
{%load static%}
{%block title%} {{ user.username }} {%endblock%}
{%block content%}
<div class="container "  style="max-width:700px">
  <div class="container emp-profile d-flex flex-row justify-content-center" >
    <div class="d-flex flex-column all">
      <div class="profile-img my-5">
        <img src="{% static 'img/user.png' %} " alt="user" style="max-width:220px; max-height:100px">
      </div>
    </div>
  </div>

  <div class="container emp-profile d-flex justify-content-center">
    <div class="d-flex flex-column profile-head mx-5">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Despre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Rapoarte Activitate: </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">Rapoarte Eveniment: </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="false">Tasks</a>
        </li>
      </ul>
      <div class="tab-content profile-tab d-flex justify-content-center" id="TabContent">
        <div class="tab-pane fade show active" id="profile" style="min-height: 20VH;" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <label>Nume</label>

            </div>
            <div class="col-md-6">
              <p>{{user.username}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Ramură</label>
            </div>
            <div class="col-md-6">
              <p>{{user.branch}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p>{{user.email}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Data de nastere:</label>
            </div>
            <div class="col-md-6">
              <p>{{user.birth}}</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
          <div class="container d-flex justify-content-center" style="min-height: 20VH;" id="result">
            <div style=" width:350PX">
              <div class="d-flex flex-column" style="overflow-x : auto; max-height : 20VH">
                {% if ActivityReports %}
                  {% for report in ActivityReports %}
                    <div class="card m-2">
                      <div class="card-header d-flex justify-content-center"><a href= "{% url 'viewActivityReport' report.id %}">{{report.title}}</a></div>
                      <div data-offset="50" class="card-body" style="overflow-x : auto; max-height : 10vh ">{{report.areas}}<br>{{report.date}}</div>
                    </div>
                    {% endfor %}
                {% else %}
                <h3 class="d-flex justify-content-center">Nu exista nici un raport </h3>
                {% endif %}
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
          <div class="container d-flex justify-content-center" style="min-height: 20VH;" id="result">
            <div style=" width:350PX">
              <div class="d-flex flex-column" style="overflow-x : auto; max-height : 20VH">
                {% if EventReports %}
                  {% for report in EventReports %}
                    <div class="card m-2">
                      <div class="card-header d-flex justify-content-center"><a href= "{% url 'viewEventReport' report.id %}" >{{report.title}}</a></div>
                      <div data-offset="50" class="card-body" style="overflow-x : auto; max-height : 10vh ">{{report.location}} <br> {{report.beginingDate}}</div>
                    </div>
                  {% endfor %}
                {% else %}
                <h3 class="d-flex justify-content-center">Nu exista nici un raport </h3>
                {% endif %}
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
          <div class="container d-flex justify-content-center" style="min-height: 20VH;" id="result">
            <div style=" width:350PX">
              <div class="d-flex flex-column" style="overflow-x : auto; max-height : 20VH">
                {% if Tasks %}
                  {% for task in Tasks %}
                    <div class="card m-2">
                      <div data-offset="50" class="card-header">
                        <div class="d-flex justify-content-center"><a href= "{% url 'updateTask' task.id %}" >{{task.title}}</a></div>
                      </div>
                      <div class="card-body">
                        <div class="d-inline float-left">
                          {{task.dueDate}}
                        </div>
                      <div class="d-inline float-right">
                        {% if task.state %}
                          <button type="button" class="btn btn-success">Done</button>
                        {% else %}
                          <button type="button" class="btn btn-danger">Not done</button>
                        {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <h3 class="d-flex justify-content-center">Nu exista nici un task </h3>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}
