{%extends "base.html" %}
{%load static%}
{%block title%} Register {%endblock%}
{%block navbar%}{%endblock%}
{%block content%}
  <div class="d-flex justify-content-center my-5" >
    <div class="card" style="margin-top: 5VH; width:500px">
      <h2 class="card-header"> Înregistrare: </h2>
      <form class="card-body" action="{% url 'register' %}" method="post" >
        {% csrf_token %}
        {{form.as_p}}
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-info">Register</button>
        </div>
      </form>
    </div>
  </div>
{%endblock%}
{%block footer%}{%endblock%}
