<html>
{%load static%}
<head>
  <title>{%block title%}Hello!{%endblock%}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.ico' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css'%}" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="{% static 'js/script.js' %}">

  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {%block navbar%} {%include 'navbar.html' %} {%endblock%}
    {%include 'messages.html'%}
    {%block content%}{%endblock%}
    {%block footer%} {%include 'footer.html' %} {%endblock%}
</body>

{%block style%}{%endblock%}


</html>
